<div class="footer-container">

  <div class="contact-info">
    <a href="https://www.instagram.com/explore/locations/698250740234496/sweet-karolines-cakes/" target="blank"><img src="./assets/ig.png" class="SM-icon FB"></a>
    <a href="https://www.facebook.com/pg/sweetkarolinescakes/about/" target="blank"><img src="./assets/fb.png" class="SM-icon FB"></a>
    <a class="phone-email" href="tel:1(502)417-8179">(502) 417-8179</a>
    <a class="phone-email" href="mailto:sweetkarolinescakes@gmail.com">sweetkarolinescakes@gmail.com</a>
  </div>

  <div class="newsletter">
    <h4 class="newsletter-header">Sign up for out Newsletter!</h4>
    <section class="newsletter-section">
      <mat-form-field class="order-input">
        <input matInput class="input-email" >
        <mat-label class="input-label-email">Email</mat-label>
      </mat-form-field>
      <button mat-flat-button class="sign-up-button" color="accent" (click)="signUpNewsletter()">Sign up</button>
    </section>
  </div>
  <div class="spacer"></div>

</div>