<div class="container">
  <mat-card _ngcontent-c6>
    <mat-card-content>
      <span>
        <a href="https://www.instagram.com/explore/locations/698250740234496/sweet-karolines-cakes/" target="blank">
          <img src="./assets/ig.png" class="SM-icon FB">
          </a>
        <a href="https//www.facebook.com/pg/sweetkarolinescakes/about/" target="blank">
          <img src="./assets/fb.png" class="SM-icon FB">
        </a>
        <a class="phone-email" href="tel:1(502)417-8179">
          <mat-icon>phone</mat-icon> (502) 417-8179
        </a>
        <a class="phone-email" href="mailto:sweetkarolinescakes@gmail.com">
          <mat-icon>email</mat-icon> sweetkarolinescakes@gmail.com
        </a>
        <a class="phone-email" target="blank" href="https://www.google.com/maps/search/Sweet+Karoline's+Cakes,+47130+Jeffersonville/@38.2267667,-85.5969501,12z/data=!3m1!4b1">
          <mat-icon>map</mat-icon> Directions
        </a>
      </span>
      <iframe class="map-iframe" src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d1898.5912238591236!2d-85.73961338790633!3d38.27611852570974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d38.2769992!2d-85.740228!5e0!3m2!1sen!2sus!4v1544373409405"
        width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

      <p class="about"><strong>
          I make cakes and other desserts for all occasions. I can even make gluten/dairy free treats! Message me for pricing. Thanks
          for checking out my page!</strong>
      </p>
      <p class="allergy">
        Allergies – Sweet Karoline's Cakes (Karoline Gardner) shall not be held responsible for nut/milk/egg/wheat allergies for
        clients or their parties. All cakes and cupcakes COULD contain traces of nut/milk/egg/wheat as it is made in the
        same area where traces of nuts/milk/eggs/wheat can be found. It is the responsibility of clients to inform their
        guests that traces of nut/milk/egg/wheat COULD be present in the cakes and cupcakes.
      </p>

    </mat-card-content>
  </mat-card>
  <app-footer></app-footer>

</div>