<div class="main-container">

  <div class="content">

    <div class="spacer"></div>
    <table class="table">
      <tr>
        <td>
          <div class="name">
            Bush Machinery
          </div>
        </td>
      </tr>
      <tr>
        <td class="contact-detail">
          <mat-icon>call</mat-icon>
          <a href="tel:+4233662416">(423) 366-2416</a>
        </td>
      </tr>
      <tr>
        <td class="contact-detail">
          <mat-icon>email</mat-icon>
          <a href="mailto:bush.machinery@gmail.com">bush.machinery@gmail.com</a>
        </td>
      </tr>
    </table>

    <div fxLayout="row">
      <table>
        <tr>
          <td>
            <img src="{{imgUrl}}" class="image">
          </td>
        </tr>
        <tr>
          <td>
            Owner Mark Bush, Bush Machinery Founded in 1985
          </td>
        </tr>
      </table>
      <div class="spacer"></div>
      <div class="desc">
        {{description}}
      </div>
    </div>
  </div>



  <div class="footer">
    <table class="footer-details">
      <tr>
        <td>
          <div class="fb">
            <img src="../../assets/fbookLogo.png" alt="Facebook" width="80px">
          </div>
        </td>
        <td class="spacer"></td>
        <td>
          <!-- <mat-icon>call</mat-icon> -->
          <a href="tel:+4233662416">(423) 366-2416</a>
        </td>
        <td class="spacer"></td>
        <td>
          <!-- <mat-icon>email</mat-icon> -->
          <a href="mailto:bush.machinery@gmail.com">bush.machinery@gmail.com</a>
        </td>
      </tr>
    </table>
  </div>

</div>