<img class="landing-photo" src="./assets/000.jpg">
<div class="main-container">
  <h1 class="gallery-header">Sweet Karoline's Cakes</h1>
  <table>
    <tr>
      <td class="col-small">
        <h2 class="gallery-subheader">Cake Gallery</h2>
      </td>
      <td class="col-large">
        <mat-form-field class="cake-filter">
          <mat-select placeholder="Filter Cakes">
            <mat-option *ngFor="let type of cakeTypes" [value]="type">{{type}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <img class="cake-img" src="./assets/1.png" (click)="enlargeImg('./assets/.png1')"
    alt="oops">
  <img class="cake-img" src="./assets/2.png" (click)="enlargeImg('./assets/2.png')"
    alt="oops">
  <img class="cake-img" src="./assets/3.png" (click)="enlargeImg('./assets/3.png')"
    alt="oops">
  <img class="cake-img" src="./assets/4.png" (click)="enlargeImg('./assets/4.png')"
    alt="oops">
  <img class="cake-img" src="./assets/5.png" (click)="enlargeImg('./assets/5.png')"
    alt="oops">
  <img class="cake-img" src="./assets/6.png" (click)="enlargeImg('./assets/6.png')"
    alt="oops">
  <img class="cake-img" src="./assets/7.png" (click)="enlargeImg('./assets/7.png')"
    alt="oops">
  <img class="cake-img" src="./assets/8.png" (click)="enlargeImg('./assets/8.png')"
    alt="oops">
  <img class="cake-img" src="./assets/9.png" (click)="enlargeImg('./assets/9.png')"
    alt="oops">
  <img class="cake-img" src="./assets/10.png" (click)="enlargeImg('./assets/10.png')"
    alt="oops">
  <img class="cake-img" src="./assets/11.png" (click)="enlargeImg('./assets/11.png')"
    alt="oops">
  <img class="cake-img" src="./assets/12.png" (click)="enlargeImg('./assets/12.png')"
    alt="oops">
  <img class="cake-img" src="./assets/13.png" (click)="enlargeImg('./assets/13.png')"
    alt="oops">
  <img class="cake-img" src="./assets/14.png" (click)="enlargeImg('./assets/14.png')"
    alt="oops">
  <img class="cake-img" src="./assets/15.png" (click)="enlargeImg('./assets/15.png')"
    alt="oops">
  <img class="cake-img" src="./assets/16.png" (click)="enlargeImg('./assets/16.png')"
    alt="oops">
  <img class="cake-img" src="./assets/17.png" (click)="enlargeImg('./assets/.png1')"
    alt="oops">
  <img class="cake-img" src="./assets/18.png" (click)="enlargeImg('./assets/2.png')"
    alt="oops">
  <img class="cake-img" src="./assets/19.png" (click)="enlargeImg('./assets/3.png')"
    alt="oops">
  <img class="cake-img" src="./assets/20.png" (click)="enlargeImg('./assets/4.png')"
    alt="oops">
  <img class="cake-img" src="./assets/21.png" (click)="enlargeImg('./assets/5.png')"
    alt="oops">
  <img class="cake-img" src="./assets/22.png" (click)="enlargeImg('./assets/6.png')"
    alt="oops">
  <img class="cake-img" src="./assets/23.png" (click)="enlargeImg('./assets/7.png')"
    alt="oops">
  <img class="cake-img" src="./assets/24.png" (click)="enlargeImg('./assets/8.png')"
    alt="oops">
  <img class="cake-img" src="./assets/25.png" (click)="enlargeImg('./assets/9.png')"
    alt="oops">
  <img class="cake-img" src="./assets/26.png" (click)="enlargeImg('./assets/10.png')"
    alt="oops">
  <img class="cake-img" src="./assets/27.png" (click)="enlargeImg('./assets/11.png')"
    alt="oops">
  <img class="cake-img" src="./assets/28.png" (click)="enlargeImg('./assets/12.png')"
    alt="oops">
  <img class="cake-img" src="./assets/29.png" (click)="enlargeImg('./assets/13.png')"
    alt="oops">
  <img class="cake-img" src="./assets/30.png" (click)="enlargeImg('./assets/14.png')"
    alt="oops">
  <img class="cake-img" src="./assets/31.png" (click)="enlargeImg('./assets/15.png')"
    alt="oops">
  <img class="cake-img" src="./assets/32.png" (click)="enlargeImg('./assets/16.png')"
    alt="oops">
  <img class="cake-img" src="./assets/33.png" (click)="enlargeImg('./assets/16.png')"
    alt="oops">
  <img class="cake-img" src="./assets/34.png" (click)="enlargeImg('./assets/10.png')"
    alt="oops">
  <img class="cake-img" src="./assets/35.png" (click)="enlargeImg('./assets/11.png')"
    alt="oops">
  <img class="cake-img" src="./assets/36.png" (click)="enlargeImg('./assets/12.png')"
    alt="oops">
  <img class="cake-img" src="./assets/37.png" (click)="enlargeImg('./assets/13.png')"
    alt="oops">
  <img class="cake-img" src="./assets/38.png" (click)="enlargeImg('./assets/14.png')"
    alt="oops">
  <img class="cake-img" src="./assets/39.png" (click)="enlargeImg('./assets/15.png')"
    alt="oops">
  <img class="cake-img" src="./assets/40.png" (click)="enlargeImg('./assets/16.png')"
    alt="oops">
  <img class="cake-img" src="./assets/41.png" (click)="enlargeImg('./assets/16.png')"
    alt="oops">
  <img class="cake-img" src="./assets/42.png" (click)="enlargeImg('./assets/16.png')"
    alt="oops">
</div>
<app-footer></app-footer>