<div class="main-container">
  <img src="../../assets/machinePic.jpg" alt="Bush Machinery" class="main-img" width="100%">
    <p>Check out all of our equipment under the Inventory tab.</p>
    <p>If you don't see what you're looking for, just give us a call!</p>
    <a href="tel:+4233662416"><em>(423) 366-2416</em></a>


  <div class="footer">
    <table class="footer-details">
      <tr>
        <td>
          <div class="fb">
            <img src="../../assets/fbookLogo.png" alt="Facebook" width="80px">
          </div>
        </td>
        <td class="spacer"></td>
        <td>
          <!-- <mat-icon>call</mat-icon> -->
          <a href="tel:+4233662416">(423) 366-2416</a>
        </td>
        <td class="spacer"></td>
        <td>
          <!-- <mat-icon>email</mat-icon> -->
          <a href="mailto:bush.machinery@gmail.com">bush.machinery@gmail.com</a>
        </td>
      </tr>
    </table>

  </div>
</div>